.btn
  width: 100%
  max-width: 280px
  height: 50px
  line-height: 50px
  border-radius: 10px
  background-color: var(--color-green)
  text-align: center
  vertical-align: middle
  border: 1px solid transparent
  font-size: 16px
  color: #fff
  @include transition(all 0.3s)

  &_icon
    width: 12px
    height: 12px
    margin-right: 6px

  &:hover
    background-color: var(--color-green-dark)