.calendar
  @include flexbox()

  &_counter
    width: 72px
    height: 34px
    border-radius: 6px
    background-color: #e9ecef
    margin-left: 10px
    @include flexbox()

  &_btn
    background-color: transparent
    border: none
    width: 50%
    @include flexbox()
    @include align-items(center)
    @include justify-content(center)

    &::before
      content: ""
      width: 4px
      height: 8px

  &_btn_prev
    border-right: var(--menu-border-dark)

    &::before
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAIBAMAAAAsHUM2AAAAAXNSR0IB2cksfwAAABJQTFRFAAAAICAgIiIiIyMjIiIiIiIi9zNm+QAAAAZ0Uk5TADDvYP/wJ9UqNwAAAB1JREFUeJxjYGBkYBBiYFZhMHEBIeYQBgZRBgZGABHgAZhH2+0mAAAAAElFTkSuQmCC)

  &_btn_next:before
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAIBAMAAAAsHUM2AAAAAXNSR0IB2cksfwAAABJQTFRFAAAAICAgIiIiIiIiIiIiIyMj5UsScAAAAAZ0Uk5TADDw/+9gYy0TJgAAABtJREFUeJxjEGBgUGRgMAlgMDYFIaMAEFeAAQAa0wI5CPPnJwAAAABJRU5ErkJggg==)

  .DayPickerInput
    position: relative
    max-width: 167px

    &:after
      content: ""
      position: absolute
      display: block
      top: 11px
      left: 10px
      width: 15px
      height: 11px
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALAQMAAACaiUUfAAAAAXNSR0IB2cksfwAAAAZQTFRFAAAAIiIi7HwshQAAAAJ0Uk5TAP9bkSK1AAAAF0lEQVR4nGPge8cAQUDw7h0UgdgPIAgAx3cN8yZf8kkAAAAASUVORK5CYII=)

    input
      padding: 0 24px 0 31px

  .DayPicker-wrapper
    padding-bottom: 0

  .DayPickerInput-Overlay
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    border-radius: 8px
    background-color: #fff
    @include transform(translateX(-15px))

  .DayPicker
    width: 268px

  .DayPicker-Weekdays
    display: block
    margin-top: 0px

  .DayPicker-WeekdaysRow
    @include flexbox()

  .DayPicker-Body
    display: block

  .DayPicker-NavBar
    position: relative
    z-index: 2

  .DayPicker-Month
    width: 100%
    margin: 21px 15px 6px

  .DayPicker-Caption
    margin-bottom: 12px
    padding: 0 48px 0 6px
    position: relative

    &::before
      content: ""
      position: absolute
      bottom: -16px
      left: -15px
      right: -15px
      border-bottom: 1px solid #d6dce1

    > div
      font-size: 15px

  .DayPicker-Week
    @include flexbox()

  .DayPicker-Weekday
    width: 28px
    margin: 2px 2px
    padding: 0

  .DayPicker-Day
    display: block
    font-size: 14px
    line-height: 20px
    width: 28px
    height: 28px
    margin: 0 3px 7px
    padding: 2px 0 0
    font-family: "GLCWebRegular"
    @include box-sizing()
    @include flexbox()
    @include align-items(center)
    @include justify-content(center)

    &--today
      color: var(--color-green)

    &--outside
      color: #a5b2bc

  .DayPicker-NavButton
    width: 28px
    height: 20px
    right: 10px
    top: 14px
    background-size: 100%
    background-image: none
    @include flexbox()
    @include align-items(center)
    @include justify-content(center)

    &::before
      content: ""
      display: block
      width: 8px
      height: 12px
      background-position: center
      background-size: 100%
      background-repeat: no-repeat

  .DayPicker-NavButton--prev
    margin-right: 27px

  .DayPicker-NavButton--prev:before
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMBAMAAACtsOGuAAAAAXNSR0IB2cksfwAAABhQTFRFAAAAICAgISEhICAgIiIiIiIiIyMjIiIie///KwAAAAh0Uk5TABC/MM//wNBHGxhuAAAAKklEQVR4nGNgYGBUZmBgEAkDMlwLgYxwAQSDQTwESDCWOjKgMoGKGRiTAa5/BiiWl2sHAAAAAElFTkSuQmCC)


  .DayPicker-NavButton--next:before
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMBAMAAACtsOGuAAAAAXNSR0IB2cksfwAAAA9QTFRFAAAAISEhIyMjJCQkIiIi1/DT9gAAAAV0Uk5TAKBgQP8arHQcAAAAIUlEQVR4nGNgVGBgYDBxAhJMLiCmChoTRIC5cAZYMUgbAILBBF/2pEW8AAAAAElFTkSuQmCC)

  .DayPicker-Weekday
    color: var(--color-gray-light)
    font-family: "GLCWebRegular"
    margin: 2px 3px 0
    padding-top: 17px
    padding-bottom: 10px
    font-size: 10px
    letter-spacing: 0.7px
    line-height: 18px

  .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover
    background-color: #e9ecef

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover,
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)
    width: 28px
    height: 28px
    background-color: var(--color-green)
    