.dropdowns
  overflow: auto
  height: 100%

.dropdown
  position: relative
  @include box-sizing()
  padding: 12px 20px 0 31px
  border-bottom: var(--side-menu-border)

  &.open:not(.disabled)
    .dropdown_inner
      display: block

    .dropdown_icon_eye
      display: inline-block

    .dropdown_info
      display: none

    .dropdown_icon_arrow
      @include transform(rotate(0))

    .dropdown_icon_copy
      @include transform(translateY(3px))

    .dropdown_icon_delete
      @include transform(translateY(3px))

  &.disabled
    .dropdown_icon_lock
      display: block

    .dropdown_icon_arrow
      display: none

    .dropdown_title
      color: var(--color-gray-light)

  &:hover
    .dropdown_icon
      opacity: 1

    .dropdown_icon_arrow
      fill: var(--color-green)

  &_top
    cursor: pointer
    height: 28px
    @include user-select()

  &_title
    color: var(--color-gray-dark)
    font-size: 14px
    line-height: 20px

  &_info
    color: var(--color-gray-light)
    padding-left: 7px
    font-size: 12px
    line-height: 18px
    font-family: 'GLCWebRegular', sans-serif

  &_icon_arrow
    position: absolute
    top: 10px
    left: 14px
    fill: var(--color-gray-dark)
    @include transform(rotate(-90deg) translateY(-3px) translateX(-3px))
    @include transition(all 0.3s)

  &_icon_lock
    position: absolute
    top: 13px
    left: 12px
    fill: var(--color-gray-light)
    display: none

    &:hover
      .dropdown_tooltip
        opacity: 1

  &_tooltip
    pointer-events: none
    position: absolute
    max-width: 238px
    left: -8px
    bottom: calc(100% + 8px)
    line-height: 26px
    border-radius: 6px
    padding: 0 10px
    white-space: nowrap
    background-color: rgba(34, 34, 34, 0.8)
    color: #fff
    font-family: 'GLCWebRegular', sans-serif
    font-size: 12px
    opacity: 0

  &_icon
    cursor: pointer
    opacity: 0
    width: 16px
    height: 16px
    fill: var(--color-gray-dark)
    @include flexbox()
    @include align-items(center)
    @include justify-content(center)
    @include transition(all 0.3s)

    &:hover
      fill: var(--color-green)

  &_icon_eye
    position: relative
    top: 2px
    right: -3px
    display: none

  &_icon_copy
    position: absolute
    top: 11px
    right: 41px
    @include transform(translateY(0) translateY(0) translateX(0))

  &_icon_delete
    position: absolute
    top: 11px
    right: 20px
    @include transform(translateY(0))

  &_inner
    display: none

.icon-lock
  width: 12px
  height: 15px

.icon-eye
  width: 16px
  height: 12px

.icon-arrow-seclect
  width: 8px
  height: 4px

.icon-copy
  width: 12px
  height: 12px

.icon-delete
  width: 10px
  height: 14px