@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@font-face {
  font-family: "GLCWebMedium";
  src: url("/fonts/GLCWebMedium.woff") format("woff"),
  url("/fonts/GLCWebMedium.ttf") format("truetype");
}

@font-face {
  font-family: "GLCWebRegular";
  src: url("/fonts/GLCWebRegular.woff") format("woff"),
  url("/fonts/GLCWebRegular.ttf") format("truetype");
}

body {
  font-family: 'GLCWebMedium', 'Open Sans', sans-serif;
  color: #222;
}
  