.map
  position: relative
  @include flexbox()
  width: 100%
  background-color: #eee
  margin-left: 134px
  @include box-sizing()

  &_panel
    position: absolute
    top: 5px
    left: 0
    right: 0
    @include flexbox()
    @include justify-content(center)

  &_zoom
    position: absolute
    right: 5px
    top: 50%
    margin-top: -41px
    width: 40px
    height: 82px
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25)
    border-radius: 20px
    background-color: var(--color-gray-dark)

    &::before
      content: ""
      display: block
      position: absolute
      top: 50%
      left: 50%
      margin-left: -11px
      width: 22px
      height: 2px
      border-radius: 2px
      background-color: #fff
      opacity: 0.1

    &_pros, &_cons
      cursor: pointer
      @include flexbox()
      @include align-items(center)
      @include justify-content(center)
      height: 50%
      opacity: 0.9

      &:hover
        opacity: 1

    &_pros
      .icon
        width: 14px
        height: 14px

    &_cons
      position: relative

      &::before
        content: ""
        display: block
        position: absolute
        top: 50%
        left: 50%
        margin-left: -7px
        width: 14px
        height: 2px
        border-radius: 2px
        background-color: #fff
        opacity: 0.9

  &_line
    width: 2px
    height: 100%
    background-color: var(--color-gray-dark)

  &_img
    width: 100%
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center

  &_info
    position: absolute
    top: 18px
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.52)
    color: #ffffff
    font-size: 16px
    font-weight: 500
    @include user-select()

    &--left
      left: 15px

    &--right
      right: 18px
