.menu
  position: relative
  width: 220px
  min-width: 220px
  height: 100%
  background-color: #eeeff2

  &_logo
    display: block
    height: 33px
    padding: 16px 11px
    border-bottom: var(--menu-border-dark)

    .icon-logo
      width: 32px
      height: 33px

  &_link
    display: block
    width: 100%
    cursor: pointer
    height: 36px
    line-height: 36px
    margin-bottom: 7px
    @include transition(all 0.3s)

    &:hover, &.active
      background-color: #dddfe4

    &_calendar
      height: 53px
      border-bottom: var(--menu-border-dark)

    &_login
      position: absolute
      height: 50px
      bottom: 0
      left: 0
      margin-bottom: 0
      border-top: var(--menu-border-dark)

  &_icon
    width: 54px
    height: 100%
    @include flexbox()
    @include align-items(center)
    @include justify-content(center)

.icon-menu
  &-1
    width: 18px
    height: 20px

  &-2
    width: 16px
    height: 16px

  &-3
    width: 16px
    height: 20px

  &-4
    width: 18px
    height: 19px

  &-5
    width: 18px
    height: 19px

  &-6
    width: 16px
    height: 18px

  &-7
    width: 20px
    height: 20px 