html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  margin: 0


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block


audio, canvas, progress, video
  display: inline-block
  vertical-align: baseline


audio:not([controls])
  display: none
  height: 0


[hidden], template
  display: none


a
  background: transparent


a:active, a:hover
  outline: 0


a:focus
  outline: none


abbr[title]
  border-bottom: 1px dotted


b, strong
  font-weight: 600


dfn
  font-style: italic


.heading.\--h1, h1
  font-size: 2em
  margin: .67em 0


mark
  background: #ff0
  color: #000


small
  font-size: 80%


sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline


sup
  top: -.5em


sub
  bottom: -.25em


img
  border: 0


svg:not(:root)
  overflow: hidden


figure
  margin: 1em 40px


hr
  -webkit-box-sizing: content-box
  box-sizing: content-box
  height: 0


pre
  overflow: auto


code, kbd, pre, samp
  font-family: monospace, monospace
  font-size: 1em
  line-height: .9em


button, input, optgroup, select, textarea
  color: inherit
  font: inherit
  margin: 0
  outline: none


button:active, button:focus, input:active, input:focus, optgroup:active, optgroup:focus, select:active, select:focus, textarea:active, textarea:focus
  outline: none


button
  overflow: visible


button, select
  text-transform: none


button, html input[type=button], input[type=reset], input[type=submit]
  -webkit-appearance: button
  cursor: pointer


button[disabled], html input[disabled]
  cursor: default


button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0


input
  line-height: normal


input[type=checkbox], input[type=radio]
  -webkit-box-sizing: border-box
  box-sizing: border-box
  padding: 0


input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
  height: auto


input[type=search]
  -webkit-appearance: textfield
  -webkit-box-sizing: content-box
  box-sizing: content-box


input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
  -webkit-appearance: none


fieldset
  border: 1px solid silver
  margin: 0 2px
  padding: .35em .625em .75em


legend
  border: 0
  padding: 0


textarea
  overflow: auto


optgroup
  font-weight: 700


table
  border-collapse: collapse
  border-spacing: 0


*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

input::-ms-clear
  display: none


input::-webkit-input-placeholder
  color: #a3a3a3
  opacity: 1


input:-ms-input-placeholder, input::-ms-input-placeholder
  color: #a3a3a3
  opacity: 1


input::placeholder
  color: #a3a3a3
  opacity: 1
