.select, .DayPickerInput input
  width: 100%
  height: 34px
  line-height: 34px
  border-radius: 6px
  background-color: #e9ecef
  font-family: "GLCWebRegular"
  font-size: 14px
  line-height: 20px
  border: none
  appearance: none
  padding: 0 40px 0 10px
  margin-bottom: 15px
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAIBAMAAAA7P9P/AAAAAXNSR0IB2cksfwAAABhQTFRFAAAAISEhIiIiICAgIiIiICAgIiIiIyMjHGY9/QAAAAh0Uk5TAKD/ENAw8GAvWWFtAAAANklEQVR4nGMQUgIBRQZGMC3AwOwEpFQMGBhMgLQzAwMDa5KSWgCQZghTSgVRDOxKBWCaoRyIAdmLBmGMdcTcAAAAAElFTkSuQmCC)
  background-position: calc(100% - 14px)
  background-size: 8px 4px
  background-repeat: no-repeat
  @include box-sizing()
