.side-menu
  position: absolute
  top: 0
  left: 54px
  width: 300px
  height: 100%
  z-index: 1
  box-shadow: -1px 0 0 rgba(165, 178, 188, 0.3), -2px 0 20px rgba(0, 0, 0, 0.07)
  border-radius: 8px 0 0 8px
  background-color: #ffffff
  @include flexbox()
  flex-direction: column
  @include transform(translateX(-120%))
  @include transition(all 0.3s)

  &.active
    @include transform(translateX(0))

  &_header
    height: 50px
    border-bottom: var(--side-menu-border)
    text-align: center
    @include user-select()

  &_arrow
    cursor: pointer
    position: absolute
    top: 14px
    left: 10px
    width: 24px
    height: 22px
    padding: 5px

    .icon-arrow
      width: 14px
      height: 12px

  &_title
    font-size: 16px
    padding: 9px 0 2px

  &_info
    color: var(--color-gray-light)
    font-family: "GLCWebRegular"
    font-size: 12px
    line-height: 18px

  &_dropdowns
    flex: 1

  &_btn-add
    width: 100%
    position: relative
    font-size: 14px
    padding: 0 31px
    line-height: 40px
    border: none
    background-color: transparent
    border-bottom: var(--side-menu-border)

  &_icon-add
    position: absolute
    top: 17px
    left: 14px
    width: 8px
    height: 8px

  &_btn
    margin: 10px
