.toggle-switch
  position: relative
  @include flexbox()
  width: 211px
  height: 42px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25)
  border-radius: 8px
  background-color: var(--color-gray-dark)
  @include user-select()

  &_background
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 4px
    @include box-sizing()

    &:before
      content: ""
      display: block
      width: 102px
      height: 34px
      border-radius: 6px
      background-color: var(--color-gray)
      @include transform(translateX(0))
      @include transition(all 0.3s)

  &_input
    display: none

    &:checked + .toggle-switch_background
      &:before
        @include transform(translateX(100%))

      + .toggle-switch_btn
        font-family: "GLCWebRegular"

        + .toggle-switch_btn
          font-family: "GLCWebMedium"

  &_btn
    position: relative
    z-index: 2
    pointer-events: none
    width: 50%
    @include flexbox()
    @include align-items(center)
    @include justify-content(center)
    color: #fff
    font-size: 14px
    line-height: 20px

    + .toggle-switch_btn
      font-family: "GLCWebRegular"

