:root {
  --color-green: #27ae60;
  --color-green-dark: #239553;
  --color-gray-light: #a5b2bc;
  --color-gray: #383838;
  --color-gray-dark: #222;
  --side-menu-border: 1px solid rgba(165, 178, 188, 0.45);
  --menu-border-dark: 1px solid #d2d4d9;
}
